// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.item-index {
  float: left;
  width: 33%;
  margin: 6px 0px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.container {
  padding: 2px 16px;
}

a {
  text-decoration: none;
  color: black;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

a:hover {
  color: grey;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:  100px;
  height: 100px;
}
