<h2><%= @item.name %> Reviews</h2>
<% @reviews.each do |review| %>
<div class='item-index'>
  <div class='container'>
    <h4><%= @user.username %>'s Review</h4>
    <p><%= review.content %></p>
  </div>
</div>
<% end %>
<%= link_to 'Back', item_path(@review), class: "link back" %>
